h1 {
    font-size:50px;
    color: #5193da
}

#generate {
     background-color: #5193da;
     color: white;
     font-weight: bold;

}
#output {
    font-size:33.5px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

